<% layout("/layouts/boilerplate") %>

<div
  class="about-hero d-flex align-items-center justify-content-center flex-column flex-lg-row flex-md-row flex-column px-2"
>
  <div class="about-hero-img d-flex align-items-end my-5 mx-0 mx-lg-5"></div>
  <div class="about-hero-text d-flex flex-column align-items-center">
    <h2 class="fs-1 mb-3">About <i>Baua Da Dhabaa</i></h2>
    <p class="text-center">
      -A homely food spot where authentic taste meets comfort
    </p>
    <a href="/menu" class="btn btn-outline-dark">Order Now</a>
  </div>
</div>

<!-- about-boxes -->

<div class="about-services d-flex justify-content-center flex-wrap p-2">
  <div class="card about-card m-3 mb-5 p-3" style="width: 20rem">
    <div class="card-body py-1 d-flex flex-column align-items-center">
      <div class="card-icon d-flex align-items-center justify-content-center">
        <i class="fa-solid fa-truck-fast"></i>
      </div>
      <h5 class="card-title fw-bold mt-2 mb-3">Fast Delivery</h5>
      <p class="card-text text-center">
        Get your meals delivered quickly and efficiently. We prioritize speed
        without compromising on quality, ensuring your food arrives fresh and
        hot.
      </p>
    </div>
  </div>

  <div class="card about-card m-3 mb-5 p-3" style="width: 20rem">
    <div class="card-body py-1 d-flex flex-column align-items-center">
      <div class="card-icon d-flex align-items-center justify-content-center">
        <i class="fa-solid fa-star"></i>
      </div>
      <h5 class="card-title fw-bold mt-2 mb-3">Clean and Safe</h5>
      <p class="card-text text-center">
        Your health is our priority.We follow strict hygiene and safety
        standards to ensure meals are peapeared and delivered with the atmost
        care.
      </p>
    </div>
  </div>

  <div class="card about-card m-3 mb-5 p-3" style="width: 20rem">
    <div class="card-body py-1 d-flex flex-column align-items-center">
      <div class="card-icon d-flex align-items-center justify-content-center">
        <i class="fa-solid fa-leaf"></i>
      </div>
      <h5 class="card-title fw-bold mt-2 mb-3">Fresh Ingredients</h5>
      <p class="card-text text-center">
        We use only the freshest ingredients in all our dishes.Our commitment to
        quality means every bite is packed with flavour and nutrition.
      </p>
    </div>
  </div>
</div>

<div class="about-element"></div>

<div
  class="about-main d-flex align-items-center justify-content-center p-5 flex-wrap"
>
  <div
    class="about-main-head d-flex flex-column align-items-center me-lg-5 me-md-5 me-sm-5 me-0"
  >
    <div class="about-main-cooking"></div>
    <!-- <h3 class="text-center fs-1">Our Story</h3> -->
    <!-- <div class="about-main-img"></div> -->
  </div>
  <div class="about-main-text px-0 px-lg-5 px-md-5 my-5">
    <h3 class="fs-1">Our Story</h3>
    <p>
      “Baua Da Dhabaa” started with one simple idea — to bring the true desi
      flavor of home-cooked food to everyone who misses it.
      <br />
      Our kitchen might be small, but our hearts are full of love and spices!
      <br />
      Every dish we serve carries a story — of homemade ghee, freshly crushed
      masalas, and that warmth you only get from ghar ka khana.
      <br />
      Stop by, take a seat, and let Baua Da Dhabaa remind you of home. ❤️
    </p>
  </div>
</div>

<div
  class="about-end d-flex flex-column align-items-center justify-content-center mt-5 p-5"
>
  <p class="px-0 px-lg-5 px-md-5 pt-5 mt-5 text-center">
    We believe that great food doesn’t need fancy ingredients, just a lot of
    heart. From traditional curries and soft rotis to our signature chai,
    everything here is made fresh with love.
    <br />
    Whether you’re craving a quick bite or a full meal, Baua Da Dhabaa brings
    you the warmth of homemade food, served the way it should be — simple,
    tasty, and full of flavor.
  </p>
  <small>Made with love, served with care</small>
  <div class="about-end-img mt-5 mb-3"></div>
</div>
