<% layout("/layouts/boilerplate") %>

<form action="/ordersuccess" method="post">
  <br />
  Full Name: <input placeholder="" /> <br /><br />
  Address : <input placeholder="" /><br /><br />
  <button class="btn btn-success">Order</button>
</form>
