<% layout("/layouts/boilerplate") %>
<style>
  .contact-intro-page {
    height: 80vh;
    width: 100%;
    color: white;
    background-color: #58aba8;
    padding: 5rem 20vw !important;
  }

  .contact-chai {
    width: 20rem;
    height: 20rem;
    background-image: url("/chai dhaba (2).png");
    background-size: cover;
  }
  .contact-info {
    /* border: 2px solid grey; */
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    border-radius: 10px;
    width: 30rem;
  }
  .contact-page {
    background-color: #f9f7f8;
  }
</style>

<div class="contact-intro-page p-5">
  <!-- <div class="contact-chai"></div> -->
  <h3 class="fs-1 fw-bold"><i>Lets Talk over chai</i></h3>
  <div class="d-flex align-items-center">
    <div>
      <p>Got feedback, a food idea, or just missing ghar ka khana?</p>
      <p>
        Send us a message — we love to chat almost as much as we love cooking!
      </p>
    </div>
    <div class="contact-chai"></div>
  </div>
</div>

<div class="contact-page p-5">
  <div class="contact-main-page d-flex flex-column align-items-center my-5">
    <div class="contact-info d-flex align-items-center m-3">
      <div class="p-4 fs-4 mx-3"><i class="fa-solid fa-location-dot"></i></div>
      <div>
        <small class="text-muted">Address</small>
        <p>Baua Da Dhabaa, Near Old Market, Kota</p>
      </div>
    </div>

    <div class="contact-info d-flex align-items-center m-3">
      <div class="p-4 fs-4 mx-3"><i class="fa-solid fa-phone"></i></div>
      <div>
        <small class="text-muted">Contact No.</small>
        <p>+91 8956462655</p>
      </div>
    </div>

    <div class="contact-info d-flex align-items-center m-3">
      <div class="p-4 fs-4 mx-3"><i class="fa-solid fa-envelope"></i></div>
      <div>
        <small class="text-muted">Email Address</small>
        <p>bauadadhabaa@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="contact-end text-center text-muted m-5">
    <p>
      Your thoughts mean a lot to us — every message helps us make your next
      meal even better.
    </p>
  </div>
</div>
