<% layout("/layouts/adminPanel") %>

<!-- Isko na likhna css mai -->
<style>
  .edit-page {
    height: 100%;
    background-image: url("/Dhaba white bg.png");
  }

  .edit-page input,
  textarea {
    box-shadow: 1px 1px 2px grey;
  }

  .edit-page h4 {
    color: #69585a;
  }
</style>

<div class="row p-3 mx-5 edit-page">
  <h4 class="mb-3 mt-3">Add new food</h4>
  <form action="/admin/add" method="post">
    <div class="mb-3 col-6">
      <label for="title" class="form-label">Food Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        placeholder="eg. Kachori"
        required
      />
    </div>
    <div class="mb-3 col-6">
      <label for="description" class="form-label">Food Description</label>
      <textarea
        type="text"
        class="form-control"
        id="description"
        name="description"
        rows="4"
        required
      >
      </textarea>
    </div>
    <div class="mb-3 col-6">
      <label for="image[url]" class="form-label">Image url</label>
      <input
        type="text"
        class="form-control"
        id="image[url]"
        name="image[url]"
        required
      />
    </div>
    <div class="mb-3 col-6">
      <label for="price" class="form-label">Food Price</label>
      <input
        type="number"
        class="form-control"
        id="price"
        name="price"
        placeholder="eg. 30"
        required
      />
    </div>
    <div class="mb-3 col-6">
      <label for="category" class="form-label">Food Category</label>
      <input
        type="text"
        class="form-control"
        id="category"
        name="category"
        placeholder="eg. Fried snacks"
        required
      />
    </div>
    <button class="btn btn-danger">Add</button>
  </form>
</div>
