<% layout("/layouts/adminPanel") %>

<div class="row p-3 px-3 edit-page g-0">
  <form
    action="/admin/add"
    class="needs-validation col-lg-6"
    method="post"
    novalidate
  >
    <h4 class="mb-3 mt-3">Add new food</h4>

    <div class="mb-3">
      <label for="title" class="form-label">Food Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        placeholder="eg. Kachori"
        required
      />
      <div class="valid-feedback">Looks delicious!</div>
      <div class="invalid-feedback">Please enter a food title</div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Food Description</label>
      <textarea
        type="text"
        class="form-control"
        id="description"
        name="description"
        rows="4"
        required
      >
      </textarea>
    </div>
    <div class="mb-3">
      <label for="image[url]" class="form-label">Image url</label>
      <input
        type="text"
        class="form-control"
        id="image[url]"
        name="image[url]"
        required
      />
      <div class="invalid-feedback">Please enter valid image url.</div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Food Price</label>
      <input
        type="number"
        class="form-control"
        id="price"
        name="price"
        placeholder="eg. 30"
        required
      />
      <div class="invalid-feedback">Please enter valid price.</div>
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Food Category</label>
      <input
        type="text"
        class="form-control"
        id="category"
        name="category"
        placeholder="eg. Fried snacks"
        required
      />
      <div class="invalid-feedback">Please enter valid Category.</div>
    </div>
    <button class="btn btn-danger">Add</button>
  </form>
</div>
