<% layout("/layouts/boilerplate") %>
<div class="order-success p-2 px-4">
  <div class="text-end">
    <a href="/"> <i class="fa-solid fa-xmark"></i></a>
  </div>
  <div class="text-center order-success-text">
    <div
      class="order-success-icon d-flex align-items-center justify-content-center"
    >
      <i class="fa-solid fa-check"></i>
    </div>
    <h3>Order Confirmed</h3>
  </div>
</div>
