<% layout("/layouts/adminPanel") %>

<div class="my-3 px-2 px-lg-5 mx-lg-5 mx-md-5">
  <h4 class="mx-3">Staff members</h4>
  <% for(user of users) {%>
  <div class="card m-3 p-2 d-flex">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-7 col-lg-9">
        <div class="card-body">
          <p><%= user.username %></p>
          <small class="text-muted"><%=user.email %></small>
        </div>
      </div>
      <div class="col-4 col-lg-2">
        <a href="/admin/staff" class="btn btn-secondary">Change Role</a>
      </div>
    </div>
  </div>
  <% } %>
</div>
