<% layout("/layouts/boilerplate") %> Login

<form action="/user/login" method="post">
  enter username :
  <input type="text" name="username" />
  <br />
  enter password:
  <input type="password" name="password" />

  <button>Login</button>
  <a href="/user/signup">Dont have an account</a>
</form>
