<% layout("/layouts/boilerplate") %> signup

<form action="/user/signup" method="post">
  enter email : <input type="text" name="email" /><br />
  enter username :
  <input type="text" name="username" />
  <br />
  enter password:
  <input type="password" name="password" />

  <button>Signup</button>
</form>
