body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  overflow-x: hidden; /* hides extra scroll*/
  height: 100%;
  width: 100%;
}

/* index page-menu*/

.row {
  justify-content: center;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card p {
  margin-bottom: 0.5rem !important;
}

.card button {
  width: max-content;
}

/* Hero-section */
.hero-sec {
  padding: 0 5vw;
  height: 45rem;
  width: 100%;
  display: flex;
  background-image: url("/Dhaba bg(1).png");
  background-size: cover;
}
.hero-sec div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-info {
  padding-left: 5rem;
}

.hero-info h3 {
  font-weight: 800;
  font-size: 2.1rem;
}

.hero-info h5 {
  font-weight: 600;
  font-size: large;
}

.hero-info p {
  font-size: 0.95rem;
}

.h-img-big {
  width: 32rem !important;
  height: 32rem !important;
  background-image: url("/naan.png");
  background-size: cover;
  position: relative;
  top: 9rem;
  left: 4rem;
  flex-shrink: 0;
  animation: clockwise 0.1s ease-in;
  animation-timeline: scroll();
}

.h-img-small {
  width: 16rem !important;
  height: 16rem !important;
  background-image: url("/curry.png");
  background-size: cover;
  flex-shrink: 0;
  position: relative;
  right: 2rem;
  bottom: 6rem;
  animation: anticlock 0.1s ease-in;
  animation-timeline: scroll();
}

.btn-hero {
  width: max-content;
  border: none;
  background: linear-gradient(45deg, #ff7b00, #ff4800);
  border-radius: 25px;
  padding: 10px 25px;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(255, 120, 0, 0.4);
  transition: all 0.3s ease;
}
.btn-hero:hover {
  transform: scale(1.05);
}

/* About-section */

.about-text {
  height: 30rem;
  width: 100%;
  background-color: black;
  color: white;
  padding: 8rem;
  text-align: center;
}

.about-text h4 {
  font-size: 2.5rem;
  font-weight: 700;
}
.about-text h5 {
  font-size: 1.5rem;
  font-weight: 600;
}

.about-text p {
  font-size: 0.9;
}

.about-text h4,
.about-text h5,
.about-text p,
.about-text a,
.contact-sec h3,
.contact-sec p,
.contact-sec a,
.about-main h3,
.about-main p {
  animation: visible 0.01s ease-in;
  animation-timeline: view(50% auto);
}

.about-bg {
  height: 25vh;
  width: 100%;
  background-image: url("/wave Dhaba.png");
  background-size: cover;
}
/* About-page */
.about-hero {
  height: 85vh;
  background-color: #f9f7f8;
}

.about-hero-img {
  background-image: url("/momo dhaba.png");
  background-size: cover;
  height: 25rem;
  width: 25rem;
  margin-top: 6rem !important;
  animation: clockwise 0.01s ease-in;
  animation-timeline: scroll();
  position: relative;
  transition: all 0.5s ease-in-out;
  flex-shrink: 0;
}

.about-hero-img:hover {
  background-image: url("/samosa dhaba.png");
}

.about-hero-text {
  position: relative;
  flex-shrink: 0;
}
.about-hero-inner {
  background-image: url("/samosa dhaba.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  position: relative;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.3s;
}

.about-hero-inner:hover {
  opacity: 1;
}
.about-main-img {
  background-image: url("/leaves dhaba .png");
  background-size: cover;
  height: 8rem;
  width: 10rem;
  position: relative;
  right: 8rem;
  top: 9rem;
}

.about-main-head {
  border: 0.5rem solid pink;
  transform: rotate(-10deg);
  border-radius: 2px;
}

.about-main-cooking {
  height: 30rem;
  width: 20rem;
  background-image: url("cooking.jpg");
  background-size: cover;
  background-color: #f9f7f8;
  transform: rotate(10deg);
}

.about-element {
  height: 15rem;
  background-image: url("/grey wave.png");
  background-size: cover;
}

.about-services {
  background-color: #f9f7f8;
}
.about-services .card {
  border: none;
}

.about-services .card-icon {
  background-color: #f9f7f8;
  color: red;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.about-end {
  background-color: rgb(250, 130, 87);
  color: white;
}

.about-end-img {
  height: 5rem;
  width: 5rem;
  background-image: url("/about logo(1).png");
  background-size: cover;
}
.about-main-text {
  width: 45%;
}

/* Menu-page */
.menu-section {
  margin: 6rem 6rem !important;
}

.menu-section h3 {
  padding-left: 13vw;
  font-size: 2.5rem;
  font-weight: 700;
}

#cart-message {
  display: none;
  position: fixed;
  bottom: 20px;
  width: max-content;
  z-index: 999;
}

.menu-card,
.about-card,
.contact-info,
.admin-card {
  transition: all 0.2s ease;
}

.menu-card:hover,
.about-card:hover,
.contact-info:hover,
.admin-card:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Contact-section */
.contact-sec {
  margin: 5rem 0;
  height: 25rem;
  background-color: rgb(78, 139, 78);
  color: white;
}

.contact-img {
  height: 15rem;
  width: 15rem;
  background-image: url("/contact bowl.png");
  background-size: cover;
}
.contact-element {
  height: 10rem;
  width: 10rem;
  background-image: url("/red chilli.png");
  background-size: cover;
  position: relative;
  top: 11rem;
  right: 4rem;
  flex-shrink: 0;
}
.contact-text h3 {
  font-weight: 600;
  font-size: 2rem;
}

/* Contact-page */
.contact-intro-page {
  height: 35rem;
  width: 100%;
  color: white;
  background-color: #58aba8;
  padding: 5rem 20vw !important;
}

.contact-chai {
  width: 20rem;
  height: 20rem;
  background-image: url("/chai dhaba (2).png");
  background-size: cover;
}
.contact-info {
  background-color: white;
  box-shadow: 2px 2px 5px grey;
  border-radius: 10px;
  width: 30rem;
}
.contact-page {
  background-color: #f9f7f8;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
  width: 100%;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.f-info {
  height: 8rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #ededed;
}

.f-info-links,
.f-info-socials {
  width: 100%;
  text-align: center;
}

.f-info-links,
.f-info-grand {
  padding-top: 0.5rem;
}

/* navbar */
.navbar {
  background-color: #f9f7f8;
}
.navbar-brand {
  font-size: 1.5rem;
  color: #ff4800;
  font-weight: 600;
}

.nav-login a {
  margin-right: 0.7rem;
  text-align: center;

  width: 7rem;
  padding: 0;
  border: 3px solid #ff4800;
  color: #ff4800;
  border-radius: 25px;
  font-weight: 600;
  padding: 0.3rem 1rem;
  transition: all 0.3s ease;
}

/* user-login,signup */

.user-box form {
  box-shadow: 2px 2px 5px grey;
}
.btn-user {
  background-color: #ff4814;
  border: none;
}

/* Menu-page */
.menu-page {
  margin: 3rem 3rem !important;
}
.menu-page h3 {
  color: #69585a;
}

/* Flashes */
.alert {
  position: fixed;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

/* Admin-Dashboard */
.admin-img {
  height: 8rem;
  width: 8rem;
  object-fit: cover;
  flex-shrink: 0 !important;
}

/* Edit-page */
.edit-page {
  height: 95vh;
  background-image: url("/Dhaba white bg.png");
}

.edit-page input,
textarea {
  box-shadow: 1px 1px 2px grey;
}

.edit-page h4 {
  color: #69585a;
}

/* Order-page */
.order-page .card {
  border: none;
  background-color: #f9f7f8;
  box-shadow: 1px 1px 3px grey;
}

/* Orderhistory */
.order-history-page .card {
  border: none;
  background-color: #f9f7f8;
  box-shadow: 1px 1px 3px grey;
}
.order-title-s {
  color: black !important;
}
.order-date-p p {
  margin: 0 !important;
}

/* OrderStatus */
.orderStatus-page {
  background-image: url("/Dhaba white bg.png");
  height: 100%;
}
.orderStatus-page .card {
  border: none;
  box-shadow: 1px 1px 3px grey;
}

/* OrderSuccess */
.order-success {
  /* flex: 1; */
  height: 75vh;
  background-color: rgb(78, 139, 78);
  color: white;
}
.order-success a {
  height: 20%;
  color: white;
  font-size: 1.5rem;
}
.order-success-text {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order-success-icon {
  border: 3px rgb(78, 139, 78);
  border-style: dotted;
  height: 6rem;
  width: 6rem;
  background-color: white;
  border-radius: 50%;
  color: rgb(78, 139, 78);
  margin: 1rem;
}
.order-success-icon i {
  font-size: 3rem;
}

/* Cart */
.cart-box {
  width: max-content;
  border: 1px solid grey;
  border-radius: 1rem;
}
.cartitem-info {
  width: 60%;
}
.cartitem-img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 0.5rem;
  object-fit: cover;
}
.intro-text h5 {
  font-size: 1rem;
}

/* Animations */

@keyframes clockwise {
  from {
    transform: none;
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes anticlock {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: none;
  }
}

@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popScale {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 2px 2px 5px grey;
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

/* responsive */

@media (max-width: 1280px) {
  .contact-intro-page {
    padding: 5rem 10vw !important;
  }
}

@media (max-width: 850px) {
  /* user-page */
  .menu-page {
    margin: 3rem 0rem !important;
  }
  .about-main-text {
    width: 100%;
  }
  .contact-intro-page {
    padding: 5rem 7vw !important;
    padding-right: 2vw !important;
  }
  .contact-chai {
    scale: 0.9;
  }
  .menu-section {
    margin: 3rem 0rem !important;
  }
  .menu-section h3 {
    padding-left: 0;
    padding-left: 3rem;
  }

  .menu-card:hover,
  .about-card:hover,
  .contact-info:hover,
  .admin-card:hover {
    transition: none !important;
    transform: none;
    box-shadow: none !important;
    animation: popScale 1s ease-in-out, popShadow 1s ease-in-out;
  }
}

@media (max-width: 650px) {
  /* user-page */
  .about-text {
    padding: 8rem 2rem;
  }
  .hero-info {
    padding-left: 0;
  }
  .hero-img {
    scale: 0.9;
  }
  .contact-element {
    right: 0rem;
    height: 8rem;
    width: 8rem;
  }
}

@media (max-width: 560px) {
  .contact-info {
    width: 20rem;
  }
}

@media (max-width: 480px) {
  /* user-page */
  .about-main-head {
    scale: 0.9;
  }
  .about-hero-img {
    scale: 0.9;
  }
  .about-services .card {
    scale: 0.9;
  }
  .hero-sec {
    flex-direction: column;
    background-color: #f9f7f8;
    padding: 0;
  }
  .hero-info {
    background-image: url("/Dhaba bg(1).png");
    background-size: cover;
    width: 100%;
    height: 20rem;
    align-items: center;
    padding: 2rem;
    padding-top: 8rem;
  }
  .hero-img {
    scale: 0.7;
    background-size: cover;
    width: 100%;
  }
  .h-img-big {
    top: -2rem;
  }
  .h-img-small {
    bottom: 15rem;
  }
  .hero-sec div {
    width: 100%;
  }

  .about-text {
    height: 40rem;
  }
  .contact-element {
    display: none;
  }
}
@media (max-width: 360px) {
  .about-main-head {
    scale: 0.7;
  }
  .contact-info {
    width: 18rem;
  }
}

@media (max-width: 350px) {
  .about-hero-img {
    scale: 0.8;
  }
  .cart-area {
    scale: 0.8;
  }
  .cart-order,
  .cart-add {
    display: block;
    margin-bottom: 1rem;
  }
}
